* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    box-sizing: border-box;
}

/*Header*/


header {
    height: 10vh;
    background-color: #434242;
    opacity: 0.8;
}

header h1 {
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: gold;
    padding: 15px 0;
}

/*Main*/

main {
    background-image: url("coins.jpg");
    background-size: cover;
    height: 100vh;
}

.game-div {
    margin: 100px auto 0;
    width: 50%;
    height: 35%;
    border: 2px black solid;
    background-color: lightgray;
    opacity: 0.85;
}

.game-div p {
    text-align: center;
    padding: 20px 0;
}

.notification {
    font-size: 24px;
}

.description {
    font-size: 30px;
    font-weight: bold;
}

.currency-form {
    text-align: center;
    margin-top: 15px;
}

.currency-input {
    border-radius: 10px;
    height: 40px;
    border: 1px black solid;
    font-size: 22px;
    text-align: center;
}

.currency-input-button {
    margin: 20px 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 2px black solid;
    font-size: 24px;
}

.currency-input-game {
    margin: 20px 20px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 2px black solid;
    font-size: 24px;
}

.currency-input-button:hover{
    background-color: black;
    color: lightgray;
    transition: 0.5s;
}

.currency-input-game:hover{
    background-color: black;
    color: lightgray;
    transition: 0.5s;
}
